@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
  background-size: auto 150%;

  -webkit-animation: AnimationName 3s ease forwards;
  -moz-animation: AnimationName 3s ease forwards;
  animation: AnimationName 3s ease forwards;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.mask-image-my {
  mask-image: radial-gradient(black 30%, transparent 70%);
}
