@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
  background-size: auto 300%;

  -webkit-animation: AnimationName 5s ease forwards;
  -moz-animation: AnimationName 5s ease forwards;
  animation: AnimationName 5s ease forwards;
}

@keyframes AnimationName {
  0% {
    background-position: 25% 25%;
  }
  100% {
    background-position: 80% 80%;
  }
}

.mask-image-my {
  mask-image: radial-gradient(black 30%, transparent 70%);
}
